{
  "comments": false,
  "env": {
    "main": {
      "presets": ["es2015", "stage-2"]
    },
    "renderer": {
      "presets": [
        ["es2015", { "modules": false }],
        "stage-2"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
